# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log

# Cache
.cache/
.netlify/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
